
/* Styles */

#main-outer{
	position: relative;

}

#main-inner{
	position: absolute;
	top:0px;
	width:100%;
}

.container-full {
  margin: 0 auto;
  width: 100%;

}

.bottom-container{
	width:100%;
	padding-top:20px;
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}

/* PAGE TITLE */
header h1{
	text-align: center;
	color:#FFF;
}

/* SEARCH NAVIGATION MENU */
nav{
	margin: 0 auto;
	width:40%;
	height:465px;
	background-color:#FFF;
	background: rgba(160, 160, 160, .4);
}

nav h3{
	padding:10px;
	text-align:center;
}

nav input{
	padding:5px;
	margin:10px;
	text-align: center;

}
.input{
	margin:0 auto;
	text-align: center;
}
/* CONTAINER FOR RESULTS AFTER SEARCH FILTER*/
.result-container{
	width:75%;
	min-height:100px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}
/* THE WHOLE CONTAINER FOR RESORTS INCLUDING HEADING*/
.resorts{
	width:70%;
	min-height: 200px;
	margin:15px;
	padding:15px;
	margin:0 auto;
	background: rgba(255, 255, 255, 0.4);
}
/* THE WHOLE CONTAINER FOR FAVOURITES INCLUDING HEADING*/
.favourites{
	width:52.5%;
	min-height:200px;
	margin:15px;
	padding:15px;
	margin-top:15px;
	margin:0 auto;
	background: rgba(255, 255, 255, 0.4);
}

select{
	width:150px;
}
/* DATE PICKER INPUT BOX FROM*/
#datepickerFrom{
	border:solid 3px #b3cce5;
}
/* DATE PICKER INPUT BOX TO*/
#datepickerTo{
	border:solid 3px #b3cce5;
}

/* THE WHOLE RESULT FOR RESORTS AFTER SEARCH */
.resorts-result{
	padding:20px;
	margin:15px;
	max-width:500px;
	height:190px;
	border: 1px solid #33ccff;
	list-style-type: none;
	color:black;
	background: rgba(255, 255, 255, .4);
}

.resorts-price{
	color:#33ccff;
	font-family:Arial;
	float:left;
	font-size:20px;
	font-weight:bold;
	padding:10px;
	clear:both;

}
.resorts-image{
	float:left;
}

.resorts-image img{
	max-width:150px;
	margin:5px;
	border:solid 2px black;
}

#resorts-link a{
	padding:7px;
	background-color:#33ccff;
	color:#FFF;
	font-family:Arial;
	text-decoration:none;
	float:right;
}
#resorts-link a:hover{
	color:#ccf2ff;
}

@media only screen and (max-width: 1400px){
	nav{
	margin: 0 auto;
	width:50%;
	}	
}

@media (max-width:1360px){
    #image {
        max-width: auto;
        min-height: 650px;
    }
}

@media only screen and (max-width: 1100px){
	nav{
	margin: 0 auto;
	width:60%;
	}	
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	nav{
	margin: 0 auto;
	width:75%;
	}
}

@media (max-width:1020px){

	.favourites{
		width:70%;
		min-height:200px;
		margin:15px;
		padding:15px;
		margin-top:15px;
		margin:0 auto;
		background: rgba(255, 255, 255, 0.4);
	}

	.resorts{
		width:93%;
		min-height: 200px;
		margin:15px;
		padding:15px;
		margin:0 auto;
		background: rgba(255, 255, 255, 0.4);
	}
	
}

@media (max-width:915px){
    nav{
	margin: 0 auto;
	width:70%;
	}

	.resorts-result{
		padding:20px;
		margin:15px;
		max-width:500px;
		height:200px;
		border: 1px solid #33ccff;
		list-style-type: none;
		color:black;
		background: rgba(255, 255, 255, .4);
	}

	.favourites{
		width:75%;
		min-height:200px;
		margin:15px;
		padding:15px;
		margin-top:15px;
		margin:0 auto;
		background: rgba(255, 255, 255, 0.4);
	}

	.resorts{
		width:100%;
		min-height: 200px;
		margin:15px;
		padding:15px;
		margin:0 auto;
		background: rgba(255, 255, 255, 0.4);
	}
}

@media (max-width:800px){
    nav{
	margin: 0 auto;
	width:90%;
	}

	.resorts-result{
		padding:20px;
		margin:15px;
		max-width:550px;
		height:215px;
		border: 1px solid #33ccff;
		list-style-type: none;
		color:black;
		background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:670px){
    nav{
	margin: 0 auto;
	width:90%;
	height:570px;
	}
	.resorts-result{
		padding:20px;
		margin:15px;
		max-width:600px;
		height:235px;
		border: 1px solid #33ccff;
		list-style-type: none;
		color:black;
		background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:610px){
    nav{
	margin: 0 auto;
	width:90%;
	height:570px;
	}
	.resorts-result{
		padding:20px;
		margin:15px;
		max-width:600px;
		height:255px;
		border: 1px solid #33ccff;
		list-style-type: none;
		color:black;
		background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:540px){
    nav{
	margin: 0 auto;
	width:90%;
	height:570px;
	}
	.resorts-result{
		padding:20px;
		margin:15px;
		max-width:600px;
		height:295px;
		border: 1px solid #33ccff;
		list-style-type: none;
		color:black;
		background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:530px){
    nav{
	margin: 0 auto;
	width:90%;
	height:570px;
	}
	.resorts-result{
		padding:20px;
		margin:15px;
		max-width:600px;
		height:340px;
		border: 1px solid #33ccff;
		list-style-type: none;
		color:black;
		background: rgba(255, 255, 255, .4);
	}
	button#delete{
		margin:10px;
		padding:10px;
	}
}

@media (max-width:500px){
    nav{
	margin: 0 auto;
	width:90%;
	height:570px;
	}
	.resorts-result{
		padding:20px;
		margin:15px;
		max-width:650px;
		height:350px;
		border: 1px solid #33ccff;
		list-style-type: none;
		color:black;
		background: rgba(255, 255, 255, .4);
	}
}
