.main-container{
	width:60%;
	margin:0 auto;
	background: rgba(255, 255, 255, .4);
}

#main-outer{
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
}

#main-inner{
	position: absolute;
	top:0px;
	width:100%;
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}

header{
	text-align:center;
}


#main-page{
	text-align: center;
	padding-bottom:50px;
	margin-top:30px;
}

#main-page a{
	text-decoration: none;
	font-family: "Trebuchet MS";
	font-size: 30px;
	padding:25px;
	margin: 25px;
	border-radius:10px 10px 10px 10px;
	color:#FFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+43,3690f0+68,1e69de+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+43,3690f0+68,1e69de+100;Blue+Gloss+%233 */
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 43%, rgba(54,144,240,1) 68%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 43%,rgba(54,144,240,1) 68%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 43%,rgba(54,144,240,1) 68%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

}

#main-page a:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88c2f4+1,73b4f1+43,59a3f3+68,4482e6+100 */
background: rgb(136,194,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(136,194,244,1) 1%, rgba(115,180,241,1) 43%, rgba(89,163,243,1) 68%, rgba(68,130,230,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(136,194,244,1) 1%,rgba(115,180,241,1) 43%,rgba(89,163,243,1) 68%,rgba(68,130,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(136,194,244,1) 1%,rgba(115,180,241,1) 43%,rgba(89,163,243,1) 68%,rgba(68,130,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c2f4', endColorstr='#4482e6',GradientType=0 ); /* IE6-9 */

}

/*CSS code for resort images*/
article{
	width:650px;
	max-width:650px;
	margin:0 auto;
}
article img{
	max-width:100%;
}

/*CSS code for short-description*/
aside h2{
	text-align: center;
	padding:10px;
}

aside table tr td{
	padding-right:40px;
	padding-left:40px;
}

aside table{
	margin:0 auto;
}
aside #tabs{
	width:90%;
	margin:0 auto;
	
}
@media (max-width:1190px){
  .main-container{
	width:70%;
	margin:0 auto;
	background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:1020px){
  .main-container{
	width:80%;
	margin:0 auto;
	background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:860px){
  .main-container{
	width:85%;
	margin:0 auto;
	background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:840px){
  .main-container{
	width:100%;
	margin:0 auto;
	background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:770px){

	aside table tr td{
	padding-right:10px;
	padding-left:10px;
	}

	article img{
		max-width:90%;
	}
}

@media (max-width:550px){
  .main-container{
	width:100%;
	margin:0 auto;
	background: rgba(255, 255, 255, .4);
	}
}

@media (max-width:500px){
  .main-container{
	width:100%;
	margin:0 auto;
	background: rgba(255, 255, 255, .4);
	}
}




